In [1]:
import pandas as pd
import numpy as np

In [6]:
import json

tweet_List = []
tweet_id= []
tweet_txt= []
print("Started Reading JSON file which contains multiple JSON document")
with open('C:/Users/Rohan/Downloads/SAP/Codes/Final Tweets JSON File/final.json') as f:
    for jsonObj in f:
        if len(jsonObj.strip()) == 0 :
            continue
        else:
            tweet_Dict = json.loads(jsonObj)
            tweet_List.append(tweet_Dict)
            tweet_id.append(tweet_Dict['id_str'])
            try:
                tweet_txt.append(tweet_Dict['retweeted_status']['extended_tweet']['full_text'])

            except:
                try:
                    tweet_txt.append(tweet_Dict['retweeted_status']['text'])

                except:
                    try:
                        tweet_txt.append(tweet_Dict['extended_tweet']['full_text'])

                    except:
                        tweet_txt.append(tweet_Dict['text'])
                    
print(tweet_id)
print(len(tweet_id))

Started Reading JSON file which contains multiple JSON document

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [10]:
df=pd.DataFrame()
df['Tweet ID']=tweet_id
df['Tweet Text']=tweet_txt
df.head()

              Tweet ID                                         Tweet Text
0  1507137709206290435  It’s exhausting the amount of rage this brings...
1  1507137709759819798  Got Covid Booster #4 today, so thankful for sc...
2  1507137709214773251  EpiTrace© Sentinel provides the following capa...
3  1507137713492750336  Quarantine Slaughterhouse: Numbers Are Coming ...
4  1507137717246865409  This Week is the 2 Year Anniversary of #Covid1...

In [24]:
df['Tweet Text'][265107]

'EU PROJECT TOPICS AND MATERIALS\nGet Complete Project Chapter 1-5 at https://t.co/ZRzox0bsRz\n#EU #TuesdayThoughts #COVID19 #coronavirus #Education'

In [14]:
#storing uncleaned tweets in csv file
df.to_csv('Uncleaned Tweets.csv')

In [15]:
len(df)

265108

In [19]:
################################################BREAK##################################################

In [25]:
#Getting other metadata
#hashtag and source prob and (txt-> touchwood)

In [26]:
df1=pd.DataFrame()
df1["Tweet ID"]=list(map(lambda tweet:tweet['id'],tweet_List))
df1["Tweet ID String"]=list(map(lambda tweet:tweet['id_str'],tweet_List))
df1["Tweet Created At"]=list(map(lambda tweet:tweet['created_at'],tweet_List))
df1["Username"]=list(map(lambda tweet:tweet['user']['screen_name'],tweet_List))
df1["Place"]=list(map(lambda tweet:tweet['place'],tweet_List))
df1["Location"]=list(map(lambda tweet:tweet['user']['location'],tweet_List))
df1["Source"]=list(map(lambda tweet:tweet['source'],tweet_List))#
df1["Language"]=list(map(lambda tweet:tweet['lang'],tweet_List))
df1["User ID"]=list(map(lambda tweet:tweet['user']['id'],tweet_List))
df1["User ID String"]=list(map(lambda tweet:tweet['user']['id_str'],tweet_List))
df1["User Followers"]=list(map(lambda tweet:tweet['user']['followers_count'],tweet_List))
df1["User Friends"]=list(map(lambda tweet:tweet['user']['friends_count'],tweet_List))
df1["User Favourite Count"]=list(map(lambda tweet:tweet['user']['favourites_count'],tweet_List))
df1["Tweet Favorite Count"]=list(map(lambda tweet:tweet['favorite_count'],tweet_List))

In [29]:
df1.head()

,Tweet ID,Tweet ID String,Tweet Created At,Username,Place,Location,Source,Language,User ID,User ID String,User Followers,User Friends,User Favourite Count,Tweet Favorite Count
0,1507137709206290435,1507137709206290435,Thu Mar 24 23:30:05 +0000 2022,BaileyDevonH,None,None,"<a href=""http://twitter.com/download/android"" ...",en,365560659,365560659,210,529,16525,0
1,1507137709759819798,1507137709759819798,Thu Mar 24 23:30:05 +0000 2022,Rhonda45046566,None,"Arizona, USA","<a href=""http://twitter.com/download/android"" ...",en,1043570469109084160,1043570469109084160,2017,3277,105507,0
2,1507137709214773251,1507137709214773251,Thu Mar 24 23:30:05 +0000 2022,epitracessi,None,Canada 🇨🇦 Global,"<a href=""https://hiplayapp.com"" rel=""nofollow""...",en,1298451985436307457,1298451985436307457,469,4988,3767,0
3,1507137713492750336,1507137713492750336,Thu Mar 24 23:30:06 +0000 2022,JoshPNamm,None,"Los Angeles, CA","<a href=""http://twitter.com/download/iphone"" r...",en,80136183,80136183,3831,3574,6591,0
4,1507137717246865409,1507137717246865409,Thu Mar 24 23:30:07 +0000 2022,JuanCar92086142,None,None,"<a href=""http://twitter.com/download/android"" ...",en,1282417335568150540,1282417335568150540,100,351,4980,0

In [30]:
df1['Tweet Text']=df['Tweet Text']

In [31]:
df1.to_csv('Uncleaned Tweets with Some Metadata.csv')