In [34]:
text="Total Confirmed Covid Cases by County For UT   2022-03-22:  Latest Covid Insights by Our Analytics Team using USAFacts #datavisualization #datascience #analytics #healthtech #data #covid19 #publichealth #covid #globalhealth #RStats https://t.co/Yhz540izml"

In [37]:
if "#dataa" in text:
    print(1)

In [24]:
import pandas as pd
df=pd.read_csv('C:/Users/Rohan/Downloads/SAP/Codes/Loading Tweets and metadata from json file/Uncleaned Tweets.csv')
df

,Unnamed: 0,Tweet ID,Tweet Text
0,0,1507137709206290435,It’s exhausting the amount of rage this brings...
1,1,1507137709759819798,"Got Covid Booster #4 today, so thankful for sc..."
2,2,1507137709214773251,EpiTrace© Sentinel provides the following capa...
3,3,1507137713492750336,Quarantine Slaughterhouse: Numbers Are Coming ...
4,4,1507137717246865409,This Week is the 2 Year Anniversary of #Covid1...
...,...,...,...
265103,265103,1508587250883473410,See how we stay ahead of most any #pandemic gl...
265104,265104,1508587251621634052,This startles me greatly too. Where are you @C...
265105,265105,1508587267123646467,Have I not done mine time already? Is 15mths o...
265106,265106,1508587267828305924,The head of Canada’s largest union @UniforTheU...
265107,265107,1508587268268650496,EU PROJECT TOPICS AND MATERIALS\nGet Complete ...

In [31]:
df['Tweet Text'][10000]

'key chinese #ports are now suffering the highest level of #congestion in 5 months due to new #covid19 lockdowns. shenzhen and hong kong have 174 #ships anchored or loading off, and more are waiting at shanghai. read more via @business:\n\nhttps://t.co/ksmu8gdkdg'

In [39]:
a=b=c=d=e=f=g=h=x=j=k=l=m=n=o=p=q=r=s=t=u=0
for i in df['Tweet Text']:
    if "#covid19" in i:
        a+=1
    if "#coronavirus" in i:
        b+=1
    if "#stayhome" in i:
        c+=1
    if "#socialdistancing" in i:
        d+=1
    if "#covid-19" in i:
        e+=1
    if "#covid2019" in i:
        f+=1
    if "#coronavirusoutbreak" in i:
        g+=1
    if "#sarscov2" in i:
        h+=1
    if "#virus" in i:
        x+=1
    if "#covidisnotover" in i:
        j+=1
    if "#covidvaccines" in i:
        k+=1
    if "#vaccinated" in i:
        l+=1
    if "#longcovid" in i:
        m+=1
    if "#omicron" in i:
        n+=1
    if "#cases" in i:
        o+=1
    if "#covid" in i:
        p+=1
    if "#pandemic" in i:
        q+=1
    if "#coronaviruspandemic" in i:
        r+=1
    if "#mask" in i:
        s+=1
    if "#deltacron" in i:
        t+=1
    if "#covidiots" in i:
        u+=1
print(a,b,c,d,e,f,g,h,x,j,k,l,m,n,o,p,q,r,s,t,u)

125434 9487 2118 502 8443 196 153 2950 2032 25010 206 1320 34565 15608 273 182686 8429 188 6627 283 1038

In [40]:
hashtags=['#covid19','#coronavirus','#stayhome','#socialdistancing','#covid-19','#covid2019','#coronavirusoutbreak', '#sarscov2', '#virus', '#covidisnotover', '#covidvaccines','#vaccinated', '#longcovid', '#omicron', '#cases', '#covid', '#pandemic', '#coronaviruspandemic', '#mask', '#deltacron', '#covidiots']
count=[a,b,c,d,e,f,g,h,x,j,k,l,m,n,o,p,q,r,s,t,u]
len(hashtags)

21

In [41]:
tags=pd.DataFrame()
tags['Hashtags']=hashtags
tags['Number of Tweets']=count
tags

                Hashtags  Number of Tweets
0               #covid19            125434
1           #coronavirus              9487
2              #stayhome              2118
3      #socialdistancing               502
4              #covid-19              8443
5             #covid2019               196
6   #coronavirusoutbreak               153
7              #sarscov2              2950
8                 #virus              2032
9        #covidisnotover             25010
10        #covidvaccines               206
11           #vaccinated              1320
12            #longcovid             34565
13              #omicron             15608
14                #cases               273
15                #covid            182686
16             #pandemic              8429
17  #coronaviruspandemic               188
18                 #mask              6627
19            #deltacron               283
20            #covidiots              1038

In [43]:
tags.to_excel('Hashtag Count.xlsx')